body{
    background: url("../assets/imagenParqueo.jpeg") no-repeat center center fixed;
    background-size: cover;
    padding: 0;
    margin: 0 auto;

}

.barra-principal{
    background: darkslategrey;
    margin-bottom: 10px;
    padding: 10px;
}

.seccionPrincipal{

    line-height: 40px;
    margin: 0 auto;
    margin-top: 5%;
    margin-left: 50px;
    margin-right: 50px;

}
.modal-content{
    background-color: white;
    padding: 0;
    box-shadow: 0px 0px 2px darkslategrey;
    alignment: center;

}
.container-barra{
    overflow: hidden;
    margin-bottom: -20px;
}
.container-barra h1{
    float: left;
    margin-top: 10px;
    color: white;
}

.container-barra .texto-usuario{
    margin-right: 20px;
    color: white;
}
.barra-principal button{
    margin-left: 1090px;
}

.barra-principal #boton-cerrar-sesion{
    cursor: pointer;
    width: 150px;
    background: darkred;
    border-color: white;

}
.barra-principal #boton-cerrar-sesion:hover{
    background: cadetblue;
}

.contenido-principal{

}
.contenido-principal p{
    color: white;

}

.date-search{
    float: left;
    margin-left: 25px;
    margin-right: 50px;

}
.date-search input{
    height: 40px;
    width: 180px;
}
.search-box{
    float: left;
    margin-right: 50px;
}

.search-box input{
    height: 42px;
    width: 300px;

    margin-left: 20px;
    color: dimgray;
    padding-left: 54px;
    border-color: #0f6674;
    border-radius: 7px;
}
.search-box::before{
    font-family: "Font Awesome\ 5 Free";
    position: absolute;
    margin-left: 30px;
    font-size: 22px;
    padding-top:4px;

}
.search-box#search::before{
    content: "\f2bb";

}
.container-filters-components h5{
    margin-top: 10px;
    float: left;
}

.container-filters-components input{
    float: left;

}
.container-filters-components{
    overflow: hidden;
    margin-bottom: 20px;
    margin-left: 25px;
    margin-top: 25px;
}
.select-type{
    float: left;

    margin-top: 25px;
    height: 42px;
    width: 300px;
}
.search-button-align{
    margin-left: 50px;
    height: 42px;
    width: 200px;
}

#boton-buscar{
    cursor: pointer;
    width: 150px;

    margin-left: 20px;
    background: darkslategrey;
    border-color: white;

}
#boton-buscar:hover{
    background: cadetblue;
}
.table-fixed tbody{
    height: 230px;
    overflow-y: auto;
    width: 100%;
}
.table-fixed thead,
.table-fixed tbody,
.table-fixed td,
.table-fixed th{
    display: block;
}

.table-fixed tbody td,
.table-fixed thead >tr > th{
    float: left;
    border-bottom-width: 0;
}
.table-container{
    width: 1220px;
    border: black;
    margin-left: 23px;
}
.table-title{
    background: #1a2537;
}

#boton-atras{
    cursor: pointer;
    width: 150px;
    margin-left: 1000px;
    margin-top: 10px;
    margin-bottom: 10px;
    background: #1a2537;
    border-color: white;

}
#boton-atras:hover{
    background: cadetblue;
}
