{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Control de Empleados</title>

    <link rel="stylesheet" href="{% static "styles/styleControlPersonal.css" %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">


</head>
<body>

    <div class="seccionPrincipal">
        <div class="modal-content">

            <div class="barra-principal">

                <div class="container-barra">
                    <h1 >CONTROL DE EMPLEADOS</h1>
                    <p class="text-right texto-usuario">Usuario: Juan Perez</p>
                </div>
                <button class="btn btn-primary" id="boton-cerrar-sesion"><i class="fas fa-sign-in-alt"></i>Cerrar Sesion</button>
            </div>

            <div class="contenido-principal">

                <div class="container-filters-components">

                    <div class="search-box" id="search">

                        <input type="text" placeholder="Ingrese su numero de CI">
                    </div>

                    <select class="select-type">
                        <option disabled="disabled" selected="selected">--SELECCIONE UNA OPCION--</option>
                        <option>LLEGO TARDE</option>
                        <option>NO VINO</option>
                    </select>
                    <button class="btn btn-primary search-button-align" id="boton-buscar"><i class="fas fa-search"></i>BUSCAR</button>
                </div>

                <div>
                    <div class="table-container">
                        <table class="table table-fixed table-sm table-border ">
                            <thead class="table-dark">
                            <tr >
                                <th style="width: 300px" scope="col">USUARIO</th>
                                <th style="width: 200px" scope="col">HORA LLEGADA</th>
                                <th style="width: 200px" scope="col">HORA SALIDA</th>
                                <th style="width: 150px" scope="col">LL. TARDE</th>
                                <th style="width: 200px" scope="col">SAL. TEMPRANO</th>
                                <th style="width: 150px" scope="col">FALTA</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td style="width: 300px" >Juan Perez</td>
                                <td style="width: 200px" >11-10-20 07:55:55</td>
                                <td style="width: 200px" >11-10-20 07:55:55</td>
                                <td style="width: 150px"  >SI</td>
                                <td style="width: 200px" >SI</td>
                                <td style="width: 150px"  >SI</td>
                            </tr>

                            <tr>
                                <td style="width: 300px" >Juan Perez</td>
                                <td style="width: 200px" >11-10-20 07:55:55</td>
                                <td style="width: 200px" >11-10-20 07:55:55</td>
                                <td style="width: 150px"  >SI</td>
                                <td style="width: 200px" >SI</td>
                                <td style="width: 150px"  >SI</td>
                            </tr>


                            <tr>
                                <td style="width: 300px" >Juan Perez</td>
                                <td style="width: 200px" >11-10-20 07:55:55</td>
                                <td style="width: 200px" >11-10-20 07:55:55</td>
                                <td style="width: 150px"  >SI</td>
                                <td style="width: 200px" >SI</td>
                                <td style="width: 150px"  >SI</td>
                            </tr>


                            <tr>
                                <td style="width: 300px" >Juan Perez</td>
                                <td style="width: 200px" >11-10-20 07:55:55</td>
                                <td style="width: 200px" >11-10-20 07:55:55</td>
                                <td style="width: 150px"  >SI</td>
                                <td style="width: 200px" >SI</td>
                                <td style="width: 150px"  >SI</td>
                            </tr>


                            <tr>
                                <td style="width: 300px" >Juan Perez</td>
                                <td style="width: 200px" >11-10-20 07:55:55</td>
                                <td style="width: 200px" >11-10-20 07:55:55</td>
                                <td style="width: 150px"  >SI</td>
                                <td style="width: 200px" >SI</td>
                                <td style="width: 150px"  >SI</td>
                            </tr>


                            <tr>
                                <td style="width: 300px" >Juan Perez</td>
                                <td style="width: 200px" >11-10-20 07:55:55</td>
                                <td style="width: 200px" >11-10-20 07:55:55</td>
                                <td style="width: 150px"  >SI</td>
                                <td style="width: 200px" >SI</td>
                                <td style="width: 150px"  >SI</td>
                            </tr>


                            <tr>
                                <td style="width: 300px" >Juan Perez</td>
                                <td style="width: 200px" >11-10-20 07:55:55</td>
                                <td style="width: 200px" >11-10-20 07:55:55</td>
                                <td style="width: 150px"  >SI</td>
                                <td style="width: 200px" >SI</td>
                                <td style="width: 150px"  >SI</td>
                            </tr>


                            <tr>
                                <td style="width: 300px" >Juan Perez</td>
                                <td style="width: 200px" >11-10-20 07:55:55</td>
                                <td style="width: 200px" >11-10-20 07:55:55</td>
                                <td style="width: 150px"  >SI</td>
                                <td style="width: 200px" >SI</td>
                                <td style="width: 150px"  >SI</td>
                            </tr>

                            <tr>
                                <td style="width: 300px" >Juan Perez</td>
                                <td style="width: 200px" >11-10-20 07:55:55</td>
                                <td style="width: 200px" >11-10-20 07:55:55</td>
                                <td style="width: 150px"  >SI</td>
                                <td style="width: 200px" >SI</td>
                                <td style="width: 150px"  >SI</td>
                            </tr>

                            <tr>
                                <td style="width: 300px" >Juan Perez</td>
                                <td style="width: 200px" >11-10-20 07:55:55</td>
                                <td style="width: 200px" >11-10-20 07:55:55</td>
                                <td style="width: 150px"  >SI</td>
                                <td style="width: 200px" >SI</td>
                                <td style="width: 150px"  >SI</td>
                            </tr>

                            <tr>
                                <td style="width: 300px" >Juan Perez</td>
                                <td style="width: 200px" >11-10-20 07:55:55</td>
                                <td style="width: 200px" >11-10-20 07:55:55</td>
                                <td style="width: 150px"  >SI</td>
                                <td style="width: 200px" >SI</td>
                                <td style="width: 150px"  >SI</td>
                            </tr>



                            </tbody>

                        </table>
                    </div>
                </div>
                <button class="btn btn-primary search-button-align" id="boton-atras"><i class="fas fa-sign-out-alt"></i>ATRAS</button>

            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

</body>
</html>

